<div class="row">
    <div class="col-md-11 col-md-offset-1 card">
        <h5>Profile</h5>
        <div>
            d_yama<br />
            <a href="https://twitter.com/dy_karous" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="https://github.com/dykarohora" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a>
        </div>
        <div class="mvp-banner">
                <img class="img-circle" src="/image/profile.jpg" width="160"/>
        </div>
        <div>
            元Microsoft MVP for Windows Development(2018-2020)<br />
            Sub-category : Windows Mixed Reality
        </div>
    </div>
</div>
