<div class="row">
    <div class="col-md-11 col-md-offset-1 card">
        <h5>Profile</h5>
        <div>
            d_yama<br />
            <a href="https://twitter.com/dy_karous" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="https://github.com/dykarohora" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a>
        </div>
        <div class="mvp-banner">
            <a href="https://mvp.microsoft.com/ja-jp/PublicProfile/5003028?fullName=Daisuke%20%20Yamanaka" target="_blank">
                <img class="img-circle" src="/image/profile.jpg" width="160"/>
                <img src="/image/mvp-banner.png" width="160"/>
            </a>
        </div>
        <div>
            Microsoft MVP for Windows Development<br />
            Sub-category : Windows Mixed Reality
        </div>
    </div>
</div>
